*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* class per dashed border */
.border{
    border: dashed 2px black;
}

/* nav start */
nav{
    background-color: #add8e6;
    padding: 15px;
        
}

nav .row{
    display: flex;
    justify-content: space-between;

    max-width: 1250px;
    
    margin: auto;

    background-color: #daa520;
}

.padding-sm{
    padding: 8px;
}

.row .logo{
       
    width: 250px;
}

.row .links{
    flex-grow: 1;
    
}

.row .links ul{
    display: flex;
    justify-content: center;
    gap: 10px;

    list-style: none;
    
}

.row .links ul li a{
    text-decoration: none;
}

.login{
    width: 250px;

    text-align: end;

}

/* nav end */

/* main start */

/* section1 start */
.blu-bg{
    background-color: blue;
}

.padding-md{
    padding: 50px;
}

#violet-square{
    max-width:  946px;

    /* test */
    height: 416px;

    margin: auto;

    background-color: #ee82ee;
}
/* section1 end */


/* section2 start */
.container{
    display: flex;
    justify-content: center;
    /* max-width: 1250px; */
    
}

.riquadro{
    display: flex;
    
    min-width: 1250px;
    
}

.lightblu-square{
    width: 750px;
    
    /* test */
    height: 520px;

    background-color: #1e90ff;

}

.pink-square{
    flex-grow: 1;

    background-color: #ffc0cb;
}

/* section2 end */

.gray-bg{
    background-color: #d3d3d3;
}
/* section3 start */

.reverse{
    flex-direction: row-reverse;
    
}


/* section3 end */

.riquadro-verde{
    min-width: 1250px;
    height: 940px;

    background-color: #228b22;
}


/* main end */


/* footer start */
footer{
    background-color: #23272a;
    
}

footer .lists{
    display: flex;

    min-width: 1250px;
    height: 500px;

    
}

footer .lists .first-list{
    width: 375px;

    background-color: #f08080;
    
}

footer .lists .list{
    flex-grow: 1;
    
    border: dashed 2px white;

    background-color: #20b2aa;

}


    
.riquadro-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 1250px;

    /* test */
    height: 84px;


    background-color: #7fffd4;
}

.lightpink{
    background-color: #ffb8c3;
}
/* footer end */